page-login{
 .login{
     margin: {
         top:calc(60% - 15px);
     }
 }
 .center{
    text-align: center;
 }  
 .login-button{
    margin: {
        top: 15px;
    }
 } 
 .header{
     font-size: 24px;
 }
}