page-store {
  p {
    padding:{
      left:5%;
      bottom:5%;
    };
  }
  .radiuscard{
    @extend ion-card;
    @include border-radius(20px);
  }
  .cart-badge{
    position: absolute;
    right: 0;
    bottom: 1px;
  }
}
