app-cart{
    .align-right{
        position: absolute;
        right: 20px;
    }
    #map{
        height: 300px;
        width: 100%;
    }

    .full-remaining-height-row {
      bottom: 0;
    }

    ion-footer {
      background-color: transparent;
    }
}
