app-cart{
    color: #FAFAFA  !important;
    .align-right{
        position: absolute;
        right: 20px;
    }
    #map{
        height: 300px;
        width: 100%;
    }

    .full-remaining-height-row {
      bottom: 0;
    }
    .item{
        color:#FAFAFA;
    }
    .content{
        color: #FAFAFA;
    }
    ion-footer {
        background-color: rgba($color: #495c7c, $alpha: .7);
    }
}
