<ion-header>
  <ion-navbar>
    <ion-title align="center">
      Add prescription
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <form [formGroup]="prescriptionForm" novalidate (ngSubmit)="save(prescriptionForm)">
    <!-- Medicine header -->
    <ion-row class="custom-margin-top custom-padding-left custom-padding-right">
      <ion-col class="no-padding">
        <p class="form-section-title">Medicine</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <hr class="hr-form">
    </ion-row>
    <!-- Medicine form -->
    <ion-row class="custom-margin-top custom-padding-left custom-padding-right">
      <ion-list class="custom-form-list custom-padding-left custom-padding-right">
        <!-- Medicine's name -->
        <ion-item class="no-padding">
          <ion-label stacked class="custom-form-label">Name <span>*</span></ion-label>
          <ion-input
            type="text"
            placeholder="Enter the medicine's name"
            formControlName="name">
          </ion-input>
        </ion-item>
        <!-- Medicine's active substance -->
        <ion-item class="no-padding">
          <ion-label stacked class="custom-form-label">Active substance <span>*</span></ion-label>
          <ion-input
            type="text"
            placeholder="Enter the medicine's  active substance"
            formControlName="activeSubstance">
          </ion-input>
        </ion-item>

        <!-- Medicine's dose -->
        <ion-item class="no-padding">
          <ion-label stacked class="custom-form-label">Dose <span>*</span></ion-label>
          <ion-input
            type="text"
            placeholder="Enter the medicine's dose"
            formControlName="dose">
          </ion-input>
        </ion-item>

        <!-- Medicine's units -->
        <ion-item class="no-padding">
          <ion-label stacked class="custom-form-label">Units <span>*</span></ion-label>
          <ion-input
            type="text"
            placeholder="Enter the medicine's units (number)"
            formControlName="units">
          </ion-input>
        </ion-item>
      </ion-list>
    </ion-row>
    <!-- End Medicine form -->

    <!-- Treatment header-->
    <ion-row class="custom-margin-top custom-padding-left custom-padding-right">
      <ion-col class="no-padding">
        <p class="form-section-title">Treatment</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <hr class="hr-form">
    </ion-row>
    <!-- Treatment form -->
    <!-- Treatment's times -->
    <div class="custom-form-row custom-margin-top" formArrayName="treatmentTimes">
      <div
        class="custom-form-row-item"
        *ngFor="let treatmentTime of prescriptionForm.controls.treatmentTimes.controls; let i=index">
        <div class="custom-form-row-item" [formGroupName]="i">
          <ion-label class="custom-form-label no-margin">Take time <span>*</span></ion-label>
          <ion-item>
            <ion-datetime
              displayFormat="HH:mm"
              pickerFormat="HH:mm"
              formControlName="time">
            </ion-datetime>
          </ion-item>
        </div>
        <div class="custom-form-row-item ">
          <div class="remove-span">
            <span *ngIf="prescriptionForm.controls.treatmentTimes.controls.length > 1"
                  (click)="removeTreatmentTime(i)">Remove</span>
          </div>
        </div>
        <div class="custom-form-row-item ">
          <div class="remove-span">
            <span (click)="addTreatmentTime()">[+Add time]</span>
          </div>
        </div>
      </div>
    </div>
    <!-- Treatment's duration -->
    <div class="custom-form-row custom-margin-top">
      <div class="custom-form-row-item">
        <ion-item class="no-padding">
          <ion-label stacked class="custom-form-label">Duration <span>*</span></ion-label>
          <ion-input
            type="text"
            placeholder="Enter the treatment's duration (days)"
            formControlName="duration">
          </ion-input>
        </ion-item>
      </div>
    </div>
    <!-- End Treatment form -->

    <div class="custom-form-footer">
      <button
        ion-button
        class="submit-button "
        full round
        type="submit"
        [disabled]="!prescriptionForm.valid">
        Create
      </button>
    </div>
  </form>
</ion-content>




