app-add-prescription {
  ion-title {
    margin-left: -45px;
  }
  .back-button {
    z-index: 9999;
  }

  .custom-form-row {
    padding: 0 32px 0 32px;
    width: 100%;
  }

  .custom-form-footer {
    position: fixed;
    width: 100%;
    bottom: -5px;
  }

  .custom-form-row-item {
    width: 100%;
  }

  .no-margin {
    margin: 0 !important;
  }

  .remove-span {
    margin-top: 5px;
    float: right;
    color: #488aff;
    span {
      margin-left: 5px;
      cursor: pointer;
    }
  }

  #last-form-element {
    margin-bottom: 52px;
  }
}
