// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.floating-button {
  position: absolute;
  right: 2vw;
  bottom: 2vw ;
  z-index: 9999;

  border-radius: 999em;
  width: 56px;
  height: 56px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  line-height: 1;
  font-size: 36px;
  cursor: pointer;

  span {
    position: absolute;
    left: 0;
    top: 50%;
    height: 100%;
    width: 100%;
    text-align: center;
    margin-top: -30%;
    color: #FFF;
  }
}

.blue-style {
  background-color: #488aff;
}

.form-section-title {
  font-size: 1.2em;
  font-family: "Roboto", Roboto, serif;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #FAFAFA;
}

.hr-form {
  border-top: 1px solid #0612a6;
  width: 100%;
  margin: 0 16px 0 16px;
}

.no-padding {
  padding: 0;
}

/* Forms */

.submit-button {
  background-color: #488aff;
  width: calc(100% - 32px);
  margin: 0 0 16px 16px;
}

.bottom-button {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: inherit;
}

.custom-form-label {
  color: #0612a6 !important;
}

.custom-form-list {
  width: 100%;
  margin: 0;
}

.custom-input-line {
  border-bottom: 1px solid #488aff;
}

/* Custom padding and margin values */
.custom-padding  {
  padding: 16px;
}

.custom-padding-top {
  padding-top: 16px;
}

.custom-padding-bottom {
  padding-bottom: 16px;
}

.custom-padding-left {
  padding-left: 16px;
}

.custom-padding-right {
  padding-right: 16px;
}

.custom-margin  {
  padding: 16px;
}

.custom-margin-top {
  margin-top: 16px;
}

.custom-margin-bottom {
  margin-bottom: 16px;
}

.custom-margin-left {
  margin-left: 16px;
}

.custom-margin-right {
  margin-right: 16px;
}
.green-checkmark{
  color: rgba($color: #87C890, $alpha: 1.0)
}
ion-header{
  color: #FAFAFA;
  .toolbar-background{
    background-color: rgba($color: #495c7c, $alpha: .8);
  }
  .toolbar-title{
    color:#FAFAFA;
  }
}
.fixed-content{
  background-color: rgba($color: #495c7c, $alpha: .7);
}
.tabbar{
  background-color: rgba($color: #495c7c, $alpha: .7);
}
.tabs-md .tab-button{
  background-color: rgba($color: #495c7c, $alpha: .8);
  color:#FAFAFA;
}
.tabs-md .tab-button[aria-selected="true"]{
  color:#0612a6;
}
.item{
  background-color: transparent;
}
.bar-button{
  color: #FAFAFA;
}
.text-input{
  color: #FAFAFA;
}
.text-input::-moz-placeholder{
  color: #FAFAFA;
}
.text-input::-webkit-input-placeholder{
  color: #FAFAFA;
}
.text-input::-ms-input-placeholder{
  color: #FAFAFA;
}