<ion-header>
  <ion-navbar>
    <ion-title align="center">
      Prescriptions
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
   <ion-item>
     <ion-card class="radiuscard" *ngFor="let prescription of prescriptions">
       <ion-card-header>
         {{prescription.medicine.name}} {{prescription.medicine.dose}}
       </ion-card-header>
       <p>
         <span *ngFor="let frequency of prescription.frequency; let i = index">{{("0" + (frequency.getHours())).slice(-2)}}:{{("0" + (frequency.getMinutes())).slice(-2)}}<span *ngIf="i < prescription.frequency.length - 1 ">,</span> </span>
       </p>
     </ion-card>
   </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <div class="floating-button blue-style" (click)="onAddPrescriptionClicked()">
    <span>+</span>
  </div>
</ion-footer>

